*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    font-family: Segoe UI, sans-serif;
    background-color: aliceblue;
}


/**************************************************** MILIEU ************************************************/


.navbar{
    float: left; : 30%;
    background: #04baf6;
    min-height: 500px;
    margin-left:100px;
    padding-top: 10px;
    text-align: center;
    margin-right: 100px;


}
.navbar-nav{
    list-style: none;
    display: block;
    padding: 50px;

}
.nav-link{
    color: white;

}





.card {
    width: 400px;
    height: 10em;
    border: 5px solid rgb(111,41,97);
    border-radius: 5em;
    padding: 10px;
    justify-content: space-around;
    align-content: space-around;
    text-align: center;


}

h2{
    font-size: 30px;
}
h3{
    font-size: 50px;
    text-align: center;
    color: #0069d6;
}
.prix{
    color: #0069d6;
}
.info{
    color: #0069d6;
}





