/* stylelint-disable selector-list-comma-newline-after */
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    font-family: Segoe UI, sans-serif;
}

.container{
    width: 1200px;
    margin: 20px auto 0 auto;
    padding: 10px;
    background-color: #faf1f2;
}
.header {
    background-color: #FF00FF;

}

h1 {
   color: white;
}

h2{
    font-size: 40px;
    color: deeppink;
    font-family: "Lucida Calligraphy", sans serif;
    text-align: center;
    padding: 30px;
    margin: 20px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color:#00BFFF;
    color: #fff;
}
.nav-links a {
    color: #fff;
}
nav a {
    text-decoration: none;
}
nav li {
    list-style: none;
}
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.menu li:hover {
    background-color: deeppink;
    border-radius: 5px;
    transition: 0.3s ease;
}
.menu li {
    padding: 5px 14px;
}
input[type=checkbox]{
    display: none;
}



.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}


@media  screen and (max-width : 767px) {
    .container{
        width: 100%;
        margin: 5px;

        background-color: #faf1f2;
    }
    .menu {
        display: none;
        position: absolute;
        background-color: deeppink;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }
    .menu li:hover {
        display: inline-block;
        background-color: #4c9e9e;
        transition: 0.3s ease;
    }
    .menu li + li {
        margin-top: 12px;
    }
    .hamburger {
        display: block;
    }
    input[type=checkbox]:checked ~ .menu{
        display: block;
    }
    h1{
        font-size: 1.2rem;
    }
   h2{
       font-size: 20px;
   }


}



/*
 * texte information
 */
.information{
    margin-bottom: 4rem;
    margin-left: 20px;
}
.information-title {
    margin-bottom: .25rem;

    font-size: 20px;
    color: deeppink;
    font-family: "Lucida Calligraphy", sans serif;
    text-align: center;
}
.horaire{
    font-family: "Comic Sans MS", sans serif;
    font-size: 15px;
    color: blue;
    text-align: center;
}
.accueil {
    font-family: "Comic Sans MS", sans serif;
    font-size: 15px;
    color: blue;
}


/*
 * Footer
 */
#sticky-footer {
    background: fuchsia;
    width: 1200px;
    height: 150px;
    position:relative;
    margin: 20px auto 0 auto;
    padding: 10px;


}
