/* stylelint-disable selector-list-comma-newline-after */
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    font-family: Segoe UI, sans-serif;
}

.container{
    width: 1200px;
    margin: 20px auto 0 auto;
    padding: 10px;
    background-color: #faf1f2;
}
.header {
    background-color: #FF00FF;

}

h1 {
   color: white;
}

h2{
    font-size: 40px;
    color: deeppink;
    font-family: "Lucida Calligraphy", sans serif;
    text-align: center;
    padding: 30px;
    margin: 20px;
}


/*
 * texte information
 */
.information{
    margin-bottom: 4rem;
    margin-left: 20px;
}
.information-title {
    margin-bottom: .25rem;

    font-size: 20px;
    color: deeppink;
    font-family: "Lucida Calligraphy", sans serif;
    text-align: center;
}
.horaire{
    font-family: "Comic Sans MS", sans serif;
    font-size: 15px;
    color: blue;
    text-align: center;
}
.accueil {
    font-family: "Comic Sans MS", sans serif;
    font-size: 15px;
    color: blue;
}


/*
 * Footer
 */
#sticky-footer {
    background: fuchsia;
    width: 1200px;
    height: 150px;
    position:relative;
    margin: 20px auto 0 auto;
    padding: 10px;


}
